<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

<listeners>
<listener class-name="com.listener.TestngListener"></listener>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.listener.My_Firsttest"/>
      <class name="com.listener.Fb_script"></class>
      <class name="com.selenium.pract.Alerttext"></class>
      <class name="com.selenium.pract.Freecrm_ifame"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
